<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
<xacro:include filename="inertial_macros.xacro" />
 
    <joint name="led_joint" type="fixed">
        <parent link="chassis"/>
        <child link="led_frame"/>
        <origin xyz="0 0 0.09" rpy="0 0 0"/>
    </joint>
 
    <link name="led_frame">
        <light type="spot" name="test_light">
    		<pose>0 0 0 0 0 0</pose>
    		<diffuse>1 1 1 0.5</diffuse>
    		<specular>.1 .1 .1 1</specular>
    		<attenuation>
       			<range>10</range>
        		<linear>0.5</linear>
        		<constant>0.8</constant>
        		<quadratic>0.01</quadratic>
    		</attenuation>
    	<cast_shadows>true</cast_shadows>
		</light>
        
        <visual name='light_source'>
            <geometry>
                <sphere radius="0.02"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
			<geometry>
                <sphere radius="0.02"/>
            </geometry>
			<material name="red"/>
		</collision>
		<xacro:inertial_box mass="0.01" x="0" y="0" z="0">
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:inertial_box>
    </link>
    
 
    <gazebo reference="led_frame">
    	<material>Gazebo/Red</material>
 
        <plugin name="attach_light" filename="libAttachLightPlugin.so">
        	<link>
            	<link_name>led_frame</link_name>
            	<light>
                	<pose>0 0 0 0 0 0</pose>
                	<light_name>test_light</light_name>
            	</light>
        	</link>
        </plugin>
 
    </gazebo>
 
</robot>
